HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Backup files ###
CHANGELOG.md.bak
**/pom.xml.versionsBackup

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
/**/target/*

### Secrets ###
http-client.private.env.json
.env

.github/
.DS_Store
.java-version